@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    text-decoration: none;
    color: black;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

html,
body {
    max-width: 612px;
    font-family: "Roboto", sans-serif;
    margin: 0;
    height: 100%;
}

.root {
    box-sizing: border-box;
    margin: 70px auto;
    padding-bottom: 70px;
    height: fit-content;
}